# Coding Exercises (Part 1)

## Exercise 4: Tuples, Dictionaries, Strings, Booleans & Operators

1. __Create and save a tuple__ with the elements 100, 0.03 and 103!

In [1]:
tup = (100, 0.03, 103)

In [2]:
tup

(100, 0.03, 103)

2. __Index__ the tuple for the second element (0.03)

In [3]:
tup[1]

0.03

3. Try to __change__ the third element to 106.09. Are tuples __mutable__?

In [4]:
# tup[2] = 106.09
# No, they are immutable!

4. Create and save a __dictionary__ with two Country/Capital Pairs of your choice (e.g. France/Paris)

In [5]:
geo = {"India" : "Delhi", "Germany" : "Berlin"}
geo

{'India': 'Delhi', 'Germany': 'Berlin'}

5. __Return__ the Capital for one country of your choice.

In [6]:
geo["India"]

'Delhi'

6. __Iterate__ over your dictionary and __print__ for each key, value pair the following statement: __"XYZ is the capital of ABC:". Use string replacement!__

In [7]:
for key, value in geo.items():
    print("{} is the capital of {}.".format(value, key))

Delhi is the capital of India.
Berlin is the capital of Germany.

7. __Save__ the following string in memory: "US growth rate eases to 1.9% in the third quarter."

In [8]:
news = "US growth rate eases to 1.9% in the third quarter."

In [9]:
news

'US growth rate eases to 1.9% in the third quarter.'

8. __Index__ the string for the second last character.

In [10]:
news[-2]

'r'

9. Convert the string to __uppercase__. __Reassign__ your variable!

In [11]:
news = news.upper()

In [12]:
news

'US GROWTH RATE EASES TO 1.9% IN THE THIRD QUARTER.'

9. Check whether __a is greater than b__.

In [13]:
# run the cell!
a = 5**12
b = 4564 * 56750

In [14]:
a > b

False

In [15]:
print(a, b)

244140625 259007000

10. Check whether __c is not equal to d__.

In [16]:
# run the cell!
c = 12**5
d = 31104 * 8

In [17]:
c != d

False

In [18]:
print(c, d)

248832 248832

We have the following code:

In [19]:
# run the cell!
cf1 = [100, 200]
cf2 = cf1
cf3 = [100, 200]

11. Check whether __cf1 and cf2 are equal__.

In [20]:
cf1 == cf2

True

12. Check whether __cf3 and cf2__ are referencing to the very __same object__!

In [21]:
cf2 is cf3

False

13. Check whether __at least one condition is met__.

In [22]:
# run the cell!
condition_1 = 45754 % 3 == 0 #45754 divisible by 3

In [23]:
# run the cell!
condition_2 = 45754 > 63 * 650 #45754 greater than 63 * 650

In [24]:
condition_1 or condition_2

True

In [25]:
print(condition_1, condition_2)

False True

14. Check whether __both conditions are met__.

In [26]:
# run the cell!
condition_3 = 172578 % 7 == 0 #172578 divisible by 7

In [27]:
# run the cell!
condition_4 = 172578 < 43145 * 4 #172578 less than 43145 * 4

In [28]:
condition_3 and condition_4

True

In [29]:
print(condition_3, condition_4)

True True

15. Does the following Code return __True or False__?

In [30]:
# run the cell to check
not((4 != 3) or not(type(23) == int))

False

# Well Done!

---------------------------------------------------------------------------------------------------------------------